user default reset off
user api-volatile reset on #{{API_VOLATILE_SHA256}} resetchannels -@all +ping +echo +client|setname +client|setinfo +quit +multi +exec +discard +script|load (~jobbliggaren:auth/challenge/v1/* +hmset +hget +hincrby +exists +expire +unlink +eval +evalsha) (~jobbliggaren:auth/challenge-by-address/v1/* +set) (~jobbliggaren:budget/login-challenge-cooldown/v1/* ~jobbliggaren:budget/login-challenge-mails/v1/* ~jobbliggaren:budget/login-challenge-codes/v1/* ~jobbliggaren:budget/login-challenge-unknown-address-mails/v1/* +incr +expire)
user health-volatile reset on #{{HEALTH_VOLATILE_SHA256}} resetchannels -@all +ping
