user operator-persistent reset on #{{OPERATOR_SHA256}} resetchannels -@all +ping +echo +client|setname +client|setinfo +quit +info +config|get +acl|list +acl|dryrun +acl|setuser +acl|deluser +client|kill (~jobbliggaren:user:*:deleted +set +exists +del) (~jobbliggaren:user:*:sessions ~jobbliggaren:session:* +del)
